<div class="not-prose my-6 flex gap-3 rounded-lg border border-amber-300 bg-amber-50 p-4 dark:border-amber-700/60 dark:bg-amber-950/40">
  <div class="flex-shrink-0 pt-0.5">
    <svg class="h-5 w-5 text-amber-500 dark:text-amber-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/>
    </svg>
  </div>
  <div class="min-w-0">
    <p class="mb-1 text-sm font-semibold text-amber-800 dark:text-amber-300">Warning</p>
    <div class="text-sm text-amber-900 dark:text-amber-200 [&_a]:font-medium [&_a]:underline [&_code]:rounded [&_code]:bg-amber-100 [&_code]:px-1 [&_code]:py-0.5 [&_code]:dark:bg-amber-900/60 [&_ul]:mt-2 [&_ul]:list-disc [&_ul]:pl-4 [&_ul]:space-y-1">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
